{% extends "core/base.html" %}
{% load static %}
{% block body%}

<div class="card card-body h-100  border-in" id="profile-wrapper">
    
    <h3 class="text-primary">Experience</h3>
    <hr>
    <h5>Freelance Subject Matter Expert (April 2020 - October 2024):</h5> 
    <p>Computer Science Subject Matter Expert at <i>Chegg India Private Limited</i></p>
    <br>
    <h5>Data Analysis Intern (July 2022 - Aug 2022):</h5> 
    <p>Data Analyst at <i>Bentec Bhartia Engineers Private Limited</i> and created project on Production Data Analysis</p>
    <br>
    <h5>Data Analysis Intern(June 2023 - Aug 2023):</h5> 
    <p>Completed Project Based Internship at <i>Physics Wallah Private Limited</i> and created Amazon Sales Data Analysis Project</p>
    
    
</div>

{% endblock body%}