{% extends "core/base.html" %}
{% load static %}
{% block body%}

<div class="card card-body h-100  border-in" id="profile-wrapper">
    
    <h3 class="text-primary">Education</h3>
    <hr>
    <h5>Computer Science Engineering (2020-2024):</h5> 
    <p>Consistently excelled academically, achieving a remarkable <b>92.75</b> percent in the first six semesters.</p>
    <br>
    <h5>12th Grade (2018-2019):</h5> 
    <p>Surpassed academic expectations with an impressive <b>87.85</b> percent.  </p>
    <br>
    <h5>10th Grade (2016-2017):</h5> 
    <p>Academic excellence with an impressive <b>86.80</b> percent.</p>
    
    
</div>

{% endblock body%}