{% load static %}
<div class="card card-body h-100  border-in" id="profile-wrapper">
    
    <center>
        <img id="profile-pic" class="rounded-circle w-50" src="{% static 'core/images/profile.gif' %}" >
    </center>
    <br>
    <h4 class="text-primary text-center">Harshit Pathak</h4>
    
    <hr class="border-dark">

    <a href="/" class="btn btn-warning" style="text-decoration:none">Home</a>

    <a href="/edu/education" class="btn btn-warning mt-3" style="text-decoration:none">Education</a>

    <a href="/skil/skills/" class="btn btn-warning mt-3" style="text-decoration:none">Skills</a>

    <a href="/proj/projects/" class="btn btn-warning mt-3" style="text-decoration:none">Project</a>

    <a href="/exp/experience/" class="btn btn-warning mt-3" style="text-decoration:none">Experience</a>

    
</div>